@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
}

#map {
    width: 80%;
    height: 100vh;
    position: absolute;
    z-index: 0;
    left: 20%;
}

#sidebar {
    /* opacity: 60%;
    transition: opacity 0.5s ease-in-out; */
    background-color: white;
    width: 350px;
    z-index: 10;
    overflow-y: scroll;
    height: 100%;
    box-shadow: 0px 5px 18px #888888;
    position: relative;
    overflow-y: hidden;
    border-radius: 0px 20px 20px 0px;
}

/* #sidebar div{
    margin-top: 50px;
} */

.menu {
    height: 100%;
    width: 100%;
}

#journeyMenu {
    display: none;
}

.floatingGroup {
    background-color: white;
    width: 20%;
    min-width: 200px;
    height: 70vh;
    z-index: 100;
    border-radius: 8px;
    box-shadow: 0px 5px 18px #888888;
    overflow-y: scroll;
}

p {
    vertical-align: baseline;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

p.menuOptions:hover {
    text-decoration: underline;
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
}

#dateTime {
    margin-right: 5px;
    position: absolute;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 1px;
    right: 10px;
    z-index: 400;
    color: green;
    font-family: 'Open Sans', sans-serif;
}
#lastUpdated{
    margin-right: 5px;
    position: absolute;
    top: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 1px;
    right: 10px;
    z-index: 400;
    color: red;
    font-family: 'Open Sans', sans-serif;   
}

#secondMenu {
    z-index: 1;
}

#secondMenuItems {
    overflow-y: scroll;
}

#markersInfo {
    position: absolute;
    bottom: 70px;
    right: 10px;
    z-index: 1000;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: black;
    border-radius: 20px;
    box-shadow: 0px 5px 18px #888888;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    gap: 10px;
    visibility: hidden;
    padding: 5px;
    backdrop-filter: blur(2px);
}

#tiplocSearch {
    align-self: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    width: 80%;
}

#keyBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

#tiplocBtn {
    position: absolute;
    bottom: 10px;
    right: 120px;
    z-index: 1000;
    visibility: hidden;
}

#journeyInfo {
    visibility: hidden;
}

.grid {
    display: grid;

    grid-template-columns: 20% 20% 60%;
    align-items: center;
    margin-left: 2px;
    width: 100%;
}

.image-container {
    width: 100px;
    grid-row: 1;
    width: 100%;
}

.grid-container {
    grid-template-columns: 20% 20% 60%;
    width: 100%;
    display: grid;
    align-items: center;
    margin-left: 2px;
}

.grid-container span {
    justify-self: center;
    margin-top: -20px;
}

.text-container {
    grid-area: auto;
    grid-column: 3;
    font: 1em sans-serif;
}

.text-container p{
    padding: 5px;
    margin: 0px;
}

.text-container span {
    color: red;
}

#journeyInfo {
    visibility: hidden;
}

.iconWrapper {
    margin-top: -22px;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2;
}

.passed {
    color: green;
}

.grid {
    display: grid;
    width: 100%;
}

.iconWrapper {
    margin-top: -22px;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 2;
}

.passed {
    color: green;
}

.timeContainer {
    grid-area: auto;
    grid-column: 1;
    font: 1em sans-serif;
    margin-top: -22px;
    text-align: right;
    color: #707370;
}

.headCodeContainer {
    font: 1em sans-serif;
    font-weight: bolder;
    display: grid;
}

#schedule {
    grid-row: 1;
    grid-column: 1;
    column-width: auto;
    font-weight: bolder;
}

#headCode {
    grid-row: 1;
    grid-column: 2;
    column-width: auto;
    font-weight: bolder;
}

.late {
    color: red;
}

button{
    background-color: white;
    border-radius: 20px;
    border-width: 0px;
    height: 50px;
    width: 100px;
    box-shadow: 0px 5px 18px #888888;
}

#clearSearch{
    padding: 5px;
    margin-top: 22px;
    margin-left: 5px;
    justify-self: center;
    text-align: center;
    cursor: pointer;
}